@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;
  font-family: Raleway;
}

nav {
  margin-top: 5px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
  background: #FE9126;
}

.link {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link:hover {
  background-color: #ffffff;
  color: #FE9126;
  padding: 24px 10px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}